@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Developed By:
    <ul>
        <li> Armin Maleskic</li>
        <li>Behzad Vefaghi</li>
        <li>Rasha Talal</li>
        <li>Roksana Monsef</li>
    </ul>
</p>
